@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter:500&display=swap');


body {
  background: #0000000d;
}

*:not(h1):not(.brand-logo):not(.material-icons):not(.material-icons-outlined) {
  font-family: 'Inter', sans-serif;
}

i {
  font-size: 37px;
}

img {
  width: 100%;
  height: auto;
}
.p0 {
  padding: 0!important;
}

.m0 {
  margin: 0!important;
}

.row .col {
  padding: 0 .75rem 0 0!important;
}

h1, .brand-logo {
  color: #c2185b!important;
  font-family: 'Fredoka One', cursive;
}

.brand-logo {
  position: static!important;
}

.card .card-content {
  padding: 24px 24px 24px 14px;
}

.playlist-card .card-content {
  height: 8em;
}

.card-title {
  cursor: default;
}

nav {
  font-size: 1.2rem!important;
  color: #e6e6e6!important;
}

nav li a {
  font-size: 1.1rem!important;
}

nav .sidenav-trigger i {
  font-size: 37px!important;
}

nav .sidenav-trigger {
  margin: 0 2em 0 0!important;
}

nav .search {
  width: 12em;
}

nav .search input {
  height: 1.6rem!important;
  color: #fff!important;
  border-bottom: 1px solid #fff!important;
  box-shadow: 0 1px 0 0 #fff!important;
}

nav .search input:focus {
  border-bottom: 1px solid #c2185b!important;
  box-shadow: 0 1px 0 0 #c2185b!important;
}

nav .search .input-field .prefix {
  top: .3rem;
}

i {
  cursor: pointer;
}

a {
  color: #c2185b;
}

.input-field {
  margin-top: 2rem;
}

.input-field .prefix.active {
   color: #c2185b!important;
 }

input.pink-input {
  border-bottom: 1px solid #f48fb1!important;
  box-shadow: 0 1px 0 0 #f48fb1!important;
}

input.pink-input + label {
  color: #f48fb1!important;
}

input.pink-input:focus + label {
  color: #c2185b!important;
}

input.pink-input:focus {
  border-bottom: 1px solid #c2185b!important;
  box-shadow: 0 1px 0 0 #c2185b!important;
}

tbody > tr:hover {
  transition: 0.3s ease;
  cursor: pointer;
  background: #ffedf3;
}

tbody > tr.checked {
  background: #ffedf3;
}

th {
  text-align: center;
}

td.Active {
  color: rgb(38, 166, 154);
}

td.Blocked {
  color: #c2185b;
}


.items-wrapper {
  margin-top: 1.5em;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.card {

}

.album-card {
  position: relative;
  border-radius: 15px!important;
  margin: .5rem 1rem 1rem 0!important;
  width: 179px;
}

.overlay {
  cursor: pointer;
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

#dropdown1 a {
  color: rgba(0, 0, 0, .7);
}

.album-button {
  cursor: pointer;
  position: absolute;
  left: 65px;
  top: 85px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.album-button::before {
  content: '\e145';
  padding: 10px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}
/*
h5:hover .card-image {
  -webkit-filter: brightness(60%);
} */

.album-button.added::before {
  content: '\e5ca';
}

.album-card:hover .album-button {
  opacity: 1;
}

.album-card > .card-image > img {
  width: 179px;
  border-radius: 10px 10px 0 0!important;
}

.album-card > .card-image {
  width: 179px;
}


.modal { width: 30% !important; border-radius: 1em  }
.modal .modal-content {
  padding: 20px 20px 0px 20px;
}
.modal .modal-footer {
  text-align: center;
}

.collapsible-header {
  justify-content: space-between;
}

/* .playlist-options-btn {
  cursor: pointer;
  transition: .5s ease;
}

.playlist-options-btn:hover {
  color: #c2185b;
} */
.playlist-cover {
  transition: all .7s ease;
  border-radius: 15px 15px 0 0;
}

.card-image img {
  transition: all .7s ease;
}

.card-image {
  border-radius: 3px;
  background-size: 50%;
  cursor: pointer;
  transition: all .7s ease;
  -webkit-filter: brightness(100%);
}

.card-image img {
  border-radius: 15px 15px 0 0!important;
}

.card-image:hover .playlist-cover {
  -webkit-filter: brightness(60%);
}

.card-image:hover img {
  -webkit-filter: brightness(60%);
}

.playlist-card .playlist-title {
  text-shadow: -2px 2px 1px rgba(0, 0, 0, .6);
}

.collection .collection-item.active {
  background-color: #212121!important;
  display: flex;
  align-items: center;
}

.collection-item button {
  margin-right: 3em;
}

.playlist-card {
  position: relative;
  border-radius: 15px!important;
  margin: .5rem 1rem 1rem 0!important;
  width: 18em;
}

.playlist-card .card-title {
  display: flex;
  justify-content: space-between;
  width: 100%!important;
}

.playlist-card i {
  transition: all .2s ease;
  cursor: pointer;
  opacity: .5;
}

.playlist-card i:hover {
  color: #000;
}

/* @media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
} */
